//icons
$icon-cross: "\e600";
$icon-facebook: "\e601";
$icon-linkedin: "\e602";
$icon-minus: "\e603";
$icon-ok: "\e604";
$icon-plus: "\e605";
$icon-star: "\e606";
$icon-twitter: "\e607";

$gray-darker : #353C40;
$gray-light : #DDDDDD;
$gray-lighter : #F3F3F3;
$brand-primary : #00ACDC;
$brand-success : #27b176;
$light-blue : rgba(0, 172, 220, 0.3);

$screen-phone : 480px;
$screen-tablet : 768px;
$screen-desktop : 992px;
$screen-lg-desktop : 1200px;